*.iml
.gradle
/local.properties
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/modules
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/dictionaries.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/kotlinScripting.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/workspace.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
